{% load staticfiles %}
<html lang="ko">
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>기록{% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block css %}{% endblock %}

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {% block javascript %}{% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo" href="{% url 'dashboard' %}">기록</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'dashboard' %}">대쉬보드</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">로그인</a></li>
            {% endif %}
        </ul>
        <form>
            <div class="input-field right">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<!-- Page Layout -->
<div class="row">
    <div class="col s12 m4 l2">
        <ul class="collection with-header">
            <a href="{% url 'todo_index' %}"><li class="collection-header {% block todo_active %}{% endblock %}">할 일</li></a>
            {% block todo_inner %}{% endblock %}
            <li class="collection-header {% block bank_active %}{% endblock %}"><a href="{% url 'bank_index' %}">가계부</a></li>
            {% block bank_inner %}{% endblock %}
            <li class="collection-header {% block wiki_active %}{% endblock %}"><a href="{% url 'wiki_index' %}">위키</a></li>
            {% block wiki_inner %}{% endblock %}
        </ul>
    </div>
    <div class="col s12 m8 l10">
        {% block content %}
            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Section title</h2>
        {% endblock %}
    </div>
</div>

    <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/min/plugins.min.js' %}"></script>
    <script src="{% static 'js/min/main.min.js' %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
  <footer class="page-footer">
      <div class="footer-copyright">
          <div class="container">
              © 2018 Copyright hanchi, All rights reserved.
          </div>
      </div>
  </footer>
</html>
