{% load project_tags %}

<ul class="tree">
{% for child in childs %}
    <li>
        {% if child.child.count > 0 %}
        <input type="checkbox" checked="checked" id="todo_{{ child.id }}" />
        {% endif %}
        <a href="{% url 'project:add_priority_projecttodo' child.id 1 %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
        </a>
        <a href="{% url 'project:add_priority_projecttodo' child.id -1 %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
            </svg>
        </a>
        {% if child.is_clear %}
        <strike style="color:gray">
        {% endif %}
        {% if child.child.count > 0 %}
        <label class="tree_label" for="todo_{{ child.id }}">{{ child.title }}</label>
        {% else %}
        <span class="tree_label">{{ child.title }}</span>
        {% endif %}
        <a href="{% url 'project:clear_projecttodo' child.id %}">
        {% if child.is_clear %}
        [O]
        {% else %}
        [X]
        {% endif %}
        </a>
        <a href="{% url 'project:edit_projecttodo' child.id %}">E</a>
        <a href="{% url 'project:create_projecttodo' child.project.id child.id %}">+</a>
        <a href="{% url 'project:delete_projecttodo' child.id %}">X</a>
        {% if child.is_clear %}
        </strike>
        {% endif %}
        {% if child.detail|length > 0 and not child.is_clear %}
        </br><h6>{{ child.detail | safe }}</h6>
        {% endif %}
        {% if child.child.count > 0 %}
        {% show_childs child %}
        {% endif %}
    </li>
{% endfor %}
</ul>