{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
    </div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="row">
        <div class="input-field col s12">
        {% if field.widget is Textarea %}
            {% render_field field class="materialize-textarea" %}
        {% else %}
            {% render_field field %}
        {% endif %}
        {{ field.label_tag }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        </div>
        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text | safe }}</small>
        {% endif %}
    </div>
{% endfor %}
