{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/nec_calendar/calendar.css' %}">
<link href="{% static 'fullcalendar/core/main.css' %}" rel="stylesheet" />
<link href="{% static 'fullcalendar/daygrid/main.css' %}" rel="stylesheet" />

<script src="{% static 'fullcalendar/core/main.js' %}"></script>
<script src="{% static 'fullcalendar/google-calendar/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/google-calendar/gcal.js' %}"></script>

<script>
  function zeroPad(n, width) {
    n = n + '';
    return n.length >= width ? n : new Array(width - n.length + 1).join('0') + n;
  }

  function getDateString(date) {
    return date.getFullYear() + "-" + zeroPad(date.getMonth() + 1, 2) + "-" + zeroPad(date.getDate(), 2) + " 00:00:00";
  }

  Date.prototype.addDays = function(days) {
      var date = new Date(this.valueOf());
      date.setDate(date.getDate() + days);
      return date;
  };

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['dayGrid', 'googleCalendar'],
      navLinks: true,
      dayClick: function(date, jsEvent) {
        window.location.replace('create/?start_date='+getDateString(date)+'&end_date='+getDateString(date.addDays(1)));
      },
      navLinkDayClick: function(date, jsEvent) {
        window.location.replace('create/?start_date='+getDateString(date)+'&end_date='+getDateString(date.addDays(1)));
      },
      googleCalendarApiKey: 'AIzaSyB3VSuQOHp1VRz-JA2RYMEz5S8Cp5lpAkc',
      events: [
                {{ todo_list | safe }},
              ],
      eventSources: [
        {
          googleCalendarId: 'igam0000@gmail.com',
          className: 'google event'
        },
      ],
      timeZone: 'Asia/Seoul',
      eventClick: function(info) {
        window.location.replace(info.url);
      },
      height: 'auto',
    });
    calendar.render();
  });
</script>

<div id="calendar"></div>
