/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */


/* WRAPPER */
a {
  color: black;
  text-decoration: none;
}

.calendar_wrapper {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
                       "content";
  width: 80vw; /* unnecessary, but let's keep things consistent */
}

@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}

.calendar{}

.calendar_year_month_str {
  font-size: 20px;
}

.calendar_top_bar {
  padding-top: 20px;
  align-items: center;
}

.calendar_week,
.calendar_header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar_week {
  border-bottom: 1px solid #e1e1e1;
}

.calendar_header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar_day {
  /*padding: 16px;*/
}

.change_month {
  padding: 2rem;
  border-radius: 2rem;
  width: 8rem;
  background-color: #282e35;
  text-align: center;
  font-size: 40px;
  color: black;
}

.calendar {
  background-color: white;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.calendar_header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar_day {
  padding-top: 10px;
  padding-bottom: 10px;
}

.calendar_today {
  background-color: #fcf8e3 !important;
}

.calendar_day:last-child {
  border-right: 0;
}

.calendar_event {
  color: #a6e1ec;
  margin-top: 0.5rem;
  text-align: left;
  padding: 0.5rem;
  width: 100%;
  background-color: #e57373;
}

.calendar_event:hover {
  background-color: #ffcdd2;
}

.completed_event {
  background-color: #c1e2b3;
}

.none_event {
  background-color: #ffffff;
  pointer-events: none;
}
