/**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */


/* WRAPPER */

.calendar_wrapper {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 1fr;
  grid-template-areas: "sidebar"
                       "content";
  width: 80vw; /* unnecessary, but let's keep things consistent */
}

@media screen and (min-width: 850px) {
  .wrapper {
    grid-template-columns: 200px 5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar content";
  }
}

.calendar{}

.calendar_week,
.calendar_header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar_week {
  text-align: right;
}

.calendar_header {
  grid-auto-rows: 50px;
  align-items: center;
  text-align: center;
}

.calendar_day {
  padding: 16px;
}

body {
  font-family: Montserrat;
  font-weight: 100;
  color: #A8B2B9;
}

main {
  background-color: #FCFBFC;
}

.calendar {
  background-color: white;
  border: 1px solid #e1e1e1;
}

.calendar_header > div {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.calendar_day {
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
}

.calendar_day:last-child {
  border-right: 0;
}

.calendar_event {
  background-color: #0074D9;
}
